@model IEnumerable<Bookstore.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<br />
<div>
    <form method="get" action="@Url.Action("Index")">
        <div>
            <label for="nat">Nationality:</label>
            <input type="text" id="nationality" name="nationality" value="@ViewBag.CurrentFilter" />
        
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" name="fullName" value="@ViewBag.CurrentFilter" />
        
            <input type="submit" value="Filter" />
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Nationality
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                Birth Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")){
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>  }|
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
